.profileForm {
  text-align: center;
}

.profileLabel {
  color: blue;
  margin-bottom: 10px;
}

.profileAttribute {
  display: block;
  margin: 20px auto;
  width: 80%;
  border: 3px solid blue;
  padding: 5px;
}

.profileError {
  color: red;
}

.profileButton {
  color: blue;
}
