.profile-form{
  text-align: center;
}
.profile-labels{
  color: blue;
  margin-bottom: 10px;
}
.profile-attributes{
  display: block;
  margin: 20px auto 20px auto;
  width: 80%;
  border: 3px solid blue;
  padding: 5px;
}

.profile-error{
  color: red;
}

.profile-button{
  color: blue;
}
